doctype
html
  head
    title Morison
    link(href="/css/index.css" rel="stylesheet")
    link(href="/css/fonts.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .container
      .grid
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--300 N
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--700 o
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--900 X
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--400 &
      .grid
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--600 5
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--700 8
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--300 2
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--600 A
      .grid
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--400 v
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--700 K
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--300 n
        .grid__cell.square
          .square__content.square__content--centered.u-fontWeight--900 %


      .overlay
        .grid
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--700 r
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--700 1
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--900 y
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--400 e
        .grid
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--600 Y
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--700 C
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--300 r
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--600 a
        .grid
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--600 a
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--700 L
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--300 T
          .grid__cell.square
            .square__content.square__content--centered.u-fontWeight--900 C
