// Base
//
// Styleguide: base

html {
  font-family: $base-font-family;
}

body {
  margin: 0;
  @media (min-width: 30em) {
    margin: 1em;
  }
}

[contenteditable] {
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write-plaintext-only;
  -ms-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only;
  outline-color: transparent;
  outline: none;
  word-wrap: break-word;
  overflow-x: scroll;
  &:focus,
  &:hover,
  &:active {
    opacity: 1;
  }
  b, strong, i, em, dfn, small, code, a {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit !important;
    background: transparent !important;
  }
  img {
    display: none;
    visibility: hidden;
  }
}

.h1--temp {
  font-weight: 500;
  color: $riley-red;
  font-family: $base-font-family;
  strong {
    font-weight: 900;
  }
}

.caps {
  @extend abbr;
}
