// Base
//
// Styleguide: base

// * {
//   box-sizing: border-box;
// }

html {
  font-family: $base-font-family;
}

body {
  font-size: 1.25em;
  line-height: $base-line-height;
  letter-spacing: 0.01em;
  color: $black;
}

h1, h2, h3, h4, h5, h6, [contenteditable] {
  letter-spacing: 0;
}

sub, sup { // TODO check if this is right once sub, sup OT code is written
  font-size: inherit;
  top: 0;
  line-height: inherit;
}

p {
  margin-top: 0;
  margin-bottom: $base-line-height * 1em;
}

[contenteditable] {
  outline-color: transparent;
  outline: none;
  word-wrap: break-word;
  overflow-x: scroll;
  &:focus,
  &:hover,
  &:active {
    opacity: 1;
  }
  b, strong, i, em, dfn, small, code, a {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit !important;
    background: transparent !important;
  }
  img {
    display: none;
    visibility: hidden;
  }
}

h1 {
  color: $red;
  font-weight: 900;
  font-size: 3em;
  margin: 0.5rem * $base-line-height 0;
  line-height: 1.2;
  @media (min-width: $media-wide) {
    font-size: 3.75em;
    line-height: 1.14;
  }
}

.caps {
  @extend abbr;
}

.knockout {
  background-color: $blue;
  color: #FFF;
  padding-top: 3em;
  padding-bottom: 3em;
}

.knockout--darkBlue {
  background-color: $blue-dark;
}

.knockout--purple {
  background-color: $purple;
}

.knockout--crop {
  overflow-x: hidden;
}

// Since we don’t have italics yet!
em, i, cite {
  font-style: normal;
  &:before {
    content: '\201C';
  }
  &:after {
    content: '\201D';
  }
}

.story {
  font-size: $font-size-small;
  line-height: 1.525;
  padding: 0 ($gutter / 2);
  @media (min-width: $media-wide) {
    // font-size: 1.25rem;
    font-size: inherit;
    line-height: $base-line-height;
    padding-left: 0;
    padding-right: 0;
  }
  // This is a (kind of dumb) way
  // to avoid needing markup between
  // figures and content in the
  // story section, so it is easier
  // for Riley to edit.
  p, ul, ol, blockquote,
  h1, h2, h3, h4, h5, h6, header,
  iframe {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $media-wide) {
      max-width: $max-width;
    }
  }
}

.story-header {
  color: $red;
  line-height: $base-line-height;
  margin-bottom: 2em * $base-line-height;
}

.story-subtitle,
.story-subtitle.simpleTester {
  color: #FFF;
  background-color: $blue;
  padding: $gutter / 2;
  mix-blend-mode: multiply;
  width: 66%;
  font-size: 1em;
  position: relative;
  transform: translate(-1 * ($gutter / 2), -84%);
  margin-bottom: -2em * $base-line-height;
  @media (min-width: $media-small) {
    transform: translate(-1 * ($gutter / 2), -152%);
  }
  @media (min-width: $media-mid) {
    transform: translate(-10%, -109%);
    padding: $gutter / 2;
    font-size: 1.1em;
    width: 50%;
  }
  @media (min-width: $media-wide) {
    transform: translate(-13%, -75%);
    width: 50%;
    font-size: 1.25em;
  }
}

.story-intro {
  color: $gray;
  text-align: center;
  display: block;
  line-height: 1;
}

.story > p:first-of-type,
.story-lead {
  font-size: 1.25rem;
  @media (min-width: $media-mid) {
    font-size: 1.5rem;
  }
  @media (min-width: $media-wide) {
    font-size: 1.75rem;
  }
}

.story-banner {
  max-width: 100%;
}

// container breakout?

.story-alphabet {
  font-size: 3em;
  text-align: center;
  color: $red-light;
  word-break: break-all;
}

// Figure
//
// Long-from story figures and captions
//
// No styleguide reference.
figure {
  overflow: hidden;
  max-width: 100%;
  margin: 1.252 * 1em 0;
  clear: both;
  padding: $gutter / 2;
  img {
    width: 100%;
    margin: 0;
    display: block;
    margin: 0 auto;
  }
  @media (min-width: $media-wide) {
    background-color: $gray-lighter;
    margin-top: $base-line-height * 2em;
    margin-bottom: $base-line-height * 2em;
    padding: $gutter;
  }
  @media (min-width: $media-huge) {
    padding: ($gutter * 2) ($base-line-height * 2em);
    & > img {
      display: block;
      width: auto;
      max-width: $max-width * 1.5;
      // max-width: 120%;
      margin: 0 auto;
    }
  }
}

figcaption {
  color: $gray;
  padding: $gutter;
  box-sizing: border-box;
  background-color: $gray-lighter;

  // margin: 0 auto;
  // float: left;
  clear: left;
  @media (min-width: $media-wide) {
    background-color: transparent;
    max-width: 100%;
    float: none;
    font-size: $font-size-small;
    line-height: 1.525;
  }
  @media (min-width: $media-huge) {
    font-size: inherit;
    line-height: $base-line-height;
  }
}

// Anchors
//
// No styleguide reference.
a,
a:visited {
  color: $blue;
  text-decoration: none;
  border-bottom: 0.0625rem solid $blue-lighter;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
  &:hover,
  &:focus {
    color: $blue; // Explicit for captions
    border-color: $blue;
  }
  &:active {
    color: $blue-dark;
  }
}

figcaption {
  a,
  a:visited {
    color: $gray;
    border-color: $gray-light;
  }
}
