// Base
//
// Styleguide: base

// * {
//   box-sizing: border-box;
// }

::selection {
  // From Normalize-OpenType.css
  color: inherit;
  text-shadow: inherit;
  background-color: $purple;
}

html {
  font-family: $base-font-family;
}


body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $black;
  background: #FFF; // Necessary for Firefox to use `mix-blend-mode`
}

h1, h2, h3, h4, h5, h6, [contenteditable] {
  letter-spacing: 0;
}

sub, sup { // TODO check if this is right once sub, sup OT code is written
  font-size: inherit;
  top: 0;
  line-height: inherit;
}

p {
  margin-top: 0;
  margin-bottom: $base-line-height * 1em;
}

[contenteditable] {
  outline-color: transparent;
  outline: none;
  word-wrap: break-word;
  overflow-x: scroll;
  &:focus,
  &:hover,
  &:active {
    opacity: 1;
  }
  b, strong, i, em, dfn, small, code, a {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit !important;
    background: transparent !important;
  }
  img {
    display: none;
    visibility: hidden;
  }
}

h1 {
  font-weight: 900;
  font-size: 3em;
  margin: 0.5rem * $base-line-height 0;
  line-height: 1.2;
  @media (min-width: $media-wide) {
    font-size: 3.75em;
    line-height: 1.14;
  }
}

.caps {
  @extend abbr;
}

// Since we don’t have italics yet!
em, i, cite {
  font-style: normal;
  &:before {
    content: '\201C';
  }
  &:after {
    content: '\201D';
  }
}

// Figure
//
// Long-from story figures and captions
//
// No styleguide reference.
figure {
  overflow: hidden;
  max-width: 100%;
  margin: 1.252 * 1em 0;
  clear: both;
  padding: $gutter / 2;
  img {
    width: 100%;
    margin: 0;
    display: block;
    margin: 0 auto;
  }
  @media (min-width: $media-wide) {
    background-color: $gray-lighter;
    margin-top: $base-line-height * 2em;
    margin-bottom: $base-line-height * 2em;
    padding: $gutter;
  }
  @media (min-width: $media-huge) {
    padding: ($gutter * 2) ($base-line-height * 2em);
    & > img {
      display: block;
      width: auto;
      max-width: $max-width * 1.5;
      // max-width: 120%;
      margin: 0 auto;
    }
  }
}

figcaption {
  color: $gray;
  padding: $gutter;
  box-sizing: border-box;
  background-color: $gray-lighter;

  // margin: 0 auto;
  // float: left;
  clear: left;
  @media (min-width: $media-wide) {
    background-color: transparent;
    max-width: 100%;
    float: none;
    font-size: $font-size-small;
    line-height: 1.525;
  }
  @media (min-width: $media-huge) {
    font-size: inherit;
    line-height: $base-line-height;
  }
}

// Anchors
//
// No styleguide reference.
a,
a:visited {
  color: $blue;
  text-decoration: none;
  border-bottom: 0.0625rem solid $blue-lighter;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
  &:hover,
  &:focus {
    color: $blue; // Explicit for captions
    border-color: $blue;
  }
  &:active {
    color: $blue-dark;
  }
}

figcaption {
  a,
  a:visited {
    color: $gray;
    border-color: $gray-light;
  }
}

hr {
  height: 0;
  border: 0;
  border-bottom: 0.0625rem solid $blue-lighter;

  margin-top: $base-line-height * 2em;
  margin-bottom: $base-line-height * 2em;
  @media (min-height: $media-mid) {
    margin-top: $base-line-height * 4em;
    margin-bottom: $base-line-height * 4em;
  }
  width: $max-width;
}
