.container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
    overflow-x: hidden; // Don’t actually do this…
}

.grid {
  display: flex;
  // max-width: 75rem;
  margin: 0 auto;
}

.grid__cell {
  flex: 1;
  height: 5em;
  // height: 5em;
}

// Square
//
// Derived from [this pen](http://codepen.io/thetallweeks/pen/tAdmL).
//
// No styleguide reference.
.square {
  padding-bottom: 20%; // This was 100% in the original, don’t know why it’s different
  position: relative;
  user-select: none;
  speak: none;
  cursor: default;
  //
  // // Temp
  overflow: hidden !important;
  z-index: 0;
}

.square__content {
  flex: 1;
  z-index: 1;
  opacity: 0.5;

  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: 0.25s color ease-in-out, 1s background-color ease-in-out, 0.5s transform ease-in-out;

  &:hover {
    color: $blue;
    background-color: $red;
    // transform: translateY(20px);
    backface-visibility: visible;
    &:first-child {
      color: $red;
      background-color: $blue;
      transform: none;
    }
  }

  // Temp
  font-size: 20em;

  &:nth-of-type(2n) {
    font-size: 40em;
  }
  &:nth-of-type(3n) {
    font-size: 10em;
  }

  background-color: $blue;
  color: white;
  opacity: 1.0;

  &:first-child {
    background-color: $red;
  }

  &:nth-child(2) {
    mix-blend-mode: multiply;
    opacity: 0.75;
  }

  &:hover {
    // mix-blend-mode: none !important;
  }

  @media (min-width: 30em) {
    font-size: 30em;
  }
  @media (min-height: 30em) {
    font-size: 30em;
  }


}

.square__content + .square__content {
  z-index: 10;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.square__content--centered {
  align-items: center;
  justify-content: center;
}

// .square:nth-child(n-2) .square__content {
//   position: fixed;
// }
