.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  // overflow-x: hidden; // Don’t actually do this…
}

.grid {
  display: flex;
  // max-width: 75rem;
  margin: 0 $gutter;
}

.grid__cell {
  flex: 1;
  height: 5em;
  // height: 5em;
}

.grid--intro,
.grid--intro .grid__cell {
  height: 0em;
  overflow: hidden;
  border-bottom: 1em solid $red;
}

// Square
//
// Derived from [this pen](http://codepen.io/thetallweeks/pen/tAdmL).
//
// No styleguide reference.
.square {
  padding-bottom: 20%; // This was 100% in the original, don’t know why it’s different
  position: relative;
  user-select: none;
  speak: none;
  cursor: default;
  //
  // // Temp
  overflow: hidden !important;
  z-index: 0;
}

.square__content {
  // margin-top: -33%;
  flex: 1;
  z-index: 1;
  opacity: 0.5;

  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: 0.25s color ease-in-out, 1s background-color ease-in-out, 0.5s transform ease-in-out;

  &:hover {
    color: $blue;
    background-color: $red;
    // transform: translateY(20px);
    backface-visibility: visible;
    &:first-child {
      color: $red;
      background-color: $blue;
      transform: none;
    }
  }

  font-size: 20em; // Temp

  &:nth-of-type(2n) {
    font-size: 40em;
  }
  &:nth-of-type(3n) {
    font-size: 10em;
  }

  background-color: $blue;
  color: white;
  opacity: 1.0;

  &:first-child {
    background-color: $red;
  }

  &:nth-child(2) {
    mix-blend-mode: multiply;
    opacity: 0.75;
  }

  &:hover {
    // mix-blend-mode: none !important;
  }

  @media (min-width: $media-mid) {
    font-size: 30em;
  }
  @media (min-height: $media-mid) {
    font-size: 30em;
  }


}

.square__content + .square__content {
  z-index: 10;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.square__content--centered {
  align-items: center;
  justify-content: center;
}

// .square:nth-child(n-2) .square__content {
//   position: fixed;
// }
//

.section {
  padding-top: $base-line-height * 2em;
  padding-bottom: $base-line-height * 2em;
  @media (min-height: $media-mid) {
    padding-top: $base-line-height * 4em;
    padding-bottom: $base-line-height * 4em;
  }
}

// Section captions
.section-caption {
  margin-bottom: $base-line-height * 1em;
  // margin-top: $base-line-height * -1em;
  @media (min-width: $media-wide) {
    margin-bottom: -1em;
    position: relative;
    top: 0;
    right: -100%;
    max-width: 33%;
    font-size: 0.75em;
    height: 0;
    padding-top: 1em;

    // This will have to be based on knockouts or inherited
    border-top: 1px solid $purple-dark;
    color: mix($purple, white, 33%);
  }
  strong {
    font-weight: 600;
  }
}


// Tachyon Widths
//
// Test, MIT via https://github.com/mrmrs/tachyons/blob/master/css/tachyons.css
//
// No styleguide reference.

.mw-100,
.mw-75,
.mw-50,
.mw-25 {
  float: left;
  display: inline;
}

.mw-100 {
  max-width: 100%;
}

.mw-75 {
  max-width: 75%;
}

.mw-50 {
  max-width: 50%;
}

.mw-25 {
  max-width: 25%;
}

.mwl-100,
.mwl-75,
.mwl-50,
.mwl-25 {
  float: left;
  display: inline;
  clear: none;
}

@media (min-width: $media-mid) {
  .mwl-100 {
    max-width: 100%;
  }

  .mwl-75 {
    max-width: 75%;
  }

  .mwl-50 {
    max-width: 50%;
  }

  .mwl-25 {
    max-width: 25%;
  }
}
