.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  @media (min-width: $media-wide) {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $media-wide) {
  .container--breakout {
    max-width: $max-width * 1.5;
  }
}

.grid {
  display: flex;
  margin: 0 $gutter;
}

/* With gutters */
.grid--gutters {
  margin: (-1 * ($gutter/2)) 0 0 (-1 * ($gutter/2));
  & > .grid__cell {
    padding: ($gutter/2) 0 0 ($gutter/2);
  }
  @media (min-width: $media-mid) {
    margin: (-1 * $gutter) 0 0 (-1 * $gutter);
    & > .grid__cell {
      padding: $gutter 0 0 $gutter;
    }
  }
}

.grid--center {
  align-items: center;
}

.grid__cell {
  flex: 1;
  // height: 5em;
  img {
    display: block;
    max-width: 100%;
  }
}

.svg-blue {
  opacity: 0.5;
  fill: green;
}

.svg-red {
  mix-blend-mode: multiply;
  .svg-square {
    opacity: 0.9;
  }
}

.svg-square {
  speak: none;
  cursor: default;
  user-select: none;
  transition: 0.25s fill ease-in-out;
  rect {
    transition: fill 1.25s ease-in;
  }
  text {
    transition: fill 0.25s ease-in;
  }
  &:hover,
  .is-inverted {
    opacity: 1;
    rect {
      fill: $red-dark;
    }
    text {
      fill: $purple;
    }
  }
}


.square__content {
  background-color: $blue;
  color: white;
  opacity: 1.0;

  &:first-child {
    background-color: $red;
  }

  &:nth-child(2) {
    mix-blend-mode: multiply;
    opacity: 0.75;
  }

  &:hover {
    // mix-blend-mode: none !important;
  }

  @media (min-width: $media-mid) {
    font-size: 30em;
  }
  @media (min-height: $media-mid) {
    font-size: 30em;
  }


}

.square__content + .square__content {
  z-index: 10;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.square__content--centered {
  align-items: center;
  justify-content: center;
}

// .square:nth-child(n-2) .square__content {
//   position: fixed;
// }
//

.section {
  padding-top: $base-line-height * 2em;
  padding-bottom: $base-line-height * 2em;
  @media (min-height: $media-mid) {
    padding-top: $base-line-height * 4em;
    padding-bottom: $base-line-height * 4em;
  }
}

.section--crop {
  overflow-x: hidden;
}

.section--short {
  padding-top: $base-line-height * 1em;
  padding-bottom: $base-line-height * 1em;
  @media (min-height: $media-mid) {
    padding-top: $base-line-height * 2em;
    padding-bottom: $base-line-height * 2em;
  }
}

// Section captions
.section-caption {
  margin-bottom: $base-line-height * 1em;
  // margin-top: $base-line-height * -1em;
  @media (min-width: $media-wide) {
    margin-bottom: -1em;
    position: relative;
    top: 0;
    right: -100%;
    max-width: 33%;
    font-size: 0.75em;
    height: 0;
    padding-top: 1em;

    // This will have to be based on knockouts or inherited
    border-top: 1px solid $purple-dark;
    color: mix($purple, white, 33%);
  }
  strong {
    font-weight: 600;
  }
}


// Tachyon Widths
//
// Test, MIT via https://github.com/mrmrs/tachyons/blob/master/css/tachyons.css
//
// No styleguide reference.

.mw-100,
.mw-75,
.mw-50,
.mw-25 {
  float: left;
  display: inline;
}

.mw-100 {
  max-width: 100%;
}

.mw-75 {
  max-width: 75%;
}

.mw-50 {
  max-width: 50%;
}

.mw-25 {
  max-width: 25%;
}

.mwl-100,
.mwl-75,
.mwl-50,
.mwl-25 {
  float: left;
  display: inline;
  clear: none;
}

@media (min-width: $media-mid) {
  .mwl-100 {
    max-width: 100%;
  }

  .mwl-75 {
    max-width: 75%;
  }

  .mwl-50 {
    max-width: 50%;
  }

  .mwl-25 {
    max-width: 25%;
  }
}
