// Variables

$font-family-sans: "Moriston", "Helvetica Neue", "Helvetcia", Arial, sans-serif;
$base-font-family: $font-family-sans;
$base-line-height: 1.45;
$font-size-small: 0.85rem;
$color-background: #FFF;
$base-border-radius: 5px;
$base-transition-duration: 0.25s;
$base-transition-function: ease-in-out; // Don’t make Ben cry

$black: #404040;

$riley: #FE5F2B;
$riley-light: #FBEDDF;
$riley-dark: #D14E21;

$red: #FB454B;
$red-dark: darken($red, 10%);
$red-light: lighten($red, 10%);

$blue: #0096CA;
$blue-dark: saturate(mix($blue, black, 75%), 50%);
$blue-light: lighten($blue, 10%);

$purple: #654352;
$purple-dark: darken($purple, 10%);
$purple-light: lighten($purple, 10%);
$purple-lighter: lighten($purple, 20%);
