// Variables

$font-family-sans: "Moriston", "Helvetica Neue", "Helvetcia", Arial, sans-serif;
$base-font-family: $font-family-sans;
$base-line-height: 1.5;
$base-font-size: 1.25em;
$font-size-small: 1rem;
$max-width: 45rem;
$color-background: #FFF;
$base-border-radius: 5px;
$base-transition-duration: 0.25s;
$base-transition-function: ease-in-out; // Don’t make Ben cry

$black: #000;

$gray: #666;
$gray-dark: #333;
$gray-light: #CCC;
$gray-lighter: darken($color-background, 1.5%);
// $black: $gray-dark;

$riley: #FE5F2B;
$riley-light: #FBEDDF;
$riley-dark: #D14E21;

$red: #ED4C49;
$red-dark: #EB212E;
$red-darker: mix($black, #EB212E, 50%);
$red-darkest: mix($black, #EB212E, 75%);
$red-light: lighten($red, 10%);

$blue: #0096CA;
$blue-dark: saturate(mix($blue, black, 75%), 50%);
$blue-light: lighten($blue, 10%);
$blue-lighter: lighten(desaturate($blue, 50%), 50%);

$purple: #5E4053;
$purple-dark: darken($purple, 10%);
$purple-light: lighten($purple, 10%);
$purple-lighter: lighten($purple, 20%);

// Bonus colours

$beige: #FDE3D6;
$teal: #1E98A1;
$green: #7FC14A;
$skyblue: #90D6E4;
$olive: #AFB242;
$orange: #F69A31;
$forest: #4DA54D;
$pink: #EB2A72;

$gutter: $base-line-height * 1em;
$media-small: 30em;
$media-mid: 40em;
$media-wide: 65em;
$media-huge: 85em;
