@charset "UTF-8";

@font-face {
  font-family: "Moriston";
  font-weight: 300;
  font-stretch: normal;
  src: url("/fonts/moriston-n3.woff")  format("woff");
}

@font-face {
  font-family: "Moriston";
  font-weight: 400;
  font-stretch: normal;
  src: url("/fonts/moriston-n4.woff")  format("woff");
}

@font-face {
  font-family: "Moriston";
  font-weight: 600;
  font-stretch: normal;
  src: url("/fonts/moriston-n5.woff")  format("woff");
}

@font-face {
  font-family: "Moriston";
  font-weight: 700;
  font-stretch: normal;
  src: url("/fonts/moriston-n7.woff")  format("woff");
}

@font-face {
  font-family: "Moriston";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/moriston-n9.woff")  format("woff");
}
