doctype
html
  head
    title Morison
    link(href="/css/index.css" rel="stylesheet")
    link(href="http://fonts.kennethormandy.com/css/moriston.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .container
      h1.h1--temp <strong>Moriston.</strong> A typeface by Riley Cran.

      p Riley Cran is a designer based in the Pacific Northwest with a specialty in Identity, Packaging and Illustration. 
      p Aspiring to create characterful and functional work, Riley merges historical influences with modern, contemporary solutions that are relevant in 2014. 
      p Do you need something designed?

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 6
        .square__content.square__content--centered.u-fontWeight--700 7

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 @
        .square__content.square__content--centered.u-fontWeight--700 a

      .grid__cell.square.overlay
        .square__content.square__content--centered.u-fontWeight--900 5
        .square__content.square__content--centered.u-fontWeight--900 M

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 3
        .square__content.square__content--centered.u-fontWeight--400 S

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--600 2
        .square__content.square__content--centered.u-fontWeight--600 &

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--700 p
        .square__content.square__content--centered.u-fontWeight--700 2

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 2
        .square__content.square__content--centered.u-fontWeight--300 r

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--600 A
        .square__content.square__content--centered.u-fontWeight--600 a

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 v
        .square__content.square__content--centered.u-fontWeight--600 a

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--700 K
        .square__content.square__content--centered.u-fontWeight--700 L

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 n
        .square__content.square__content--centered.u-fontWeight--300 T

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--900 %
        .square__content.square__content--centered.u-fontWeight--900 C
    //- Will be knockouted out at night
    div
      .container#clock
        include _includes/clock

    .knockout
      .container
        div(contenteditable spellcheck="false" autofocus).simpleTester.u-fontWeight--300.js-scaleText
          span San Francisco
        div(contenteditable spellcheck="false").simpleTester.js-scaleText
          span.u-fontWeight--400 New York
        div(contenteditable spellcheck="false").simpleTester.js-scaleText
          span.u-fontWeight--500 Amsterdam
        div(contenteditable spellcheck="false").simpleTester.js-scaleText
          span.u-fontWeight--300 Four of this year’s attendees are from the Pacific Northwest, and three of us were lucky enough to have met up a little early. Riley and I caught a cab together in at 4:45AM—maybe we’ve stayed up to that hour before, talking about type and writing code, but this is probably the first time we’ve met up that early.
        div(contenteditable spellcheck="false").simpleTester.js-scaleText
          span.u-fontWeight--700 Chicago
        div(contenteditable spellcheck="false").simpleTester.js-scaleText
          span.u-fontWeight--900 Vancouver
          
    .knockout.knockout--darkBlue#sugar
      .container#sugar
        include _includes/sugar
    
    .knockout.knockout--purple
      .container#record
        include _includes/_recordbooth

    script(src="https://rawgit.com/kennethormandy/big-ideas-text/master/dist/big-ideas-text.js")
    script(src="/js/index.js")
