doctype
html(lang="en-us")
  head
    title Moriston
    link(href="/css/index.css" rel="stylesheet")
    link(href="#{ environment !== 'development' ? 'http://fonts.kennethormandy.com' : '' }/css/moriston.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    //- .grid.grid--intro
    //-   .grid__cell.square
    //-     .square__content.square__content--centered.u-fontWeight--700 M
    //-     .square__content.square__content--centered.u-fontWeight--300 o
    //- 
    //-   .grid__cell.square
    //-     .square__content.square__content--centered.u-fontWeight--400 R
    //-     .square__content.square__content--centered.u-fontWeight--700 i
    //- 
    //-   .grid__cell.square.overlay
    //-     .square__content.square__content--centered.u-fontWeight--900 S
    //-     .square__content.square__content--centered.u-fontWeight--900 t
    //- 
    //-   .grid__cell.square
    //-     .square__content.square__content--centered.u-fontWeight--400 o
    //-     .square__content.square__content--centered.u-fontWeight--400 N
    .story
      .container
        header.story-header
          span.story-intro.u-fontWeight--400 Introducing
          div(contenteditable spellcheck="false").simpleTester.js-scaleText
            h1.story-headline.u-fontWeight--900.u-textTransform--uppercase Moriston
          div(contenteditable spellcheck="false").simpleTester.js-scaleText.story-subtitle
            span.bigIdeasText-exempt.u-fontWeight--400 A sans-serif typeface with unusually high contrast—<span class="u-fontWeight--600">and enthusiasm!</span>
          span.story-intro.u-fontWeight--400 by Riley Cran

        p.story-lead Adding contrast to a conversation makes your voice stand out. Moriston is a sans-serif grotesque available in 6 reliable weights, with support for over 200 languages and a variety of additional number styles. 

        p Designed by Riley Cran, and available from your friends at the Lost Type Co-op.
        
        a.button.button--large(href="http://losttype.com/font/?name=moriston") Buy it right now!

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 6
        .square__content.square__content--centered.u-fontWeight--700 7

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 @
        .square__content.square__content--centered.u-fontWeight--700 a

      .grid__cell.square.overlay
        .square__content.square__content--centered.u-fontWeight--900 5
        .square__content.square__content--centered.u-fontWeight--900 M

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 3
        .square__content.square__content--centered.u-fontWeight--400 S

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--600 2
        .square__content.square__content--centered.u-fontWeight--600 &

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--700 p
        .square__content.square__content--centered.u-fontWeight--700 2

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 2
        .square__content.square__content--centered.u-fontWeight--300 r

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--600 A
        .square__content.square__content--centered.u-fontWeight--600 a

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 v
        .square__content.square__content--centered.u-fontWeight--600 a

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--700 K
        .square__content.square__content--centered.u-fontWeight--700 L

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 n
        .square__content.square__content--centered.u-fontWeight--300 T

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--900 %
        .square__content.square__content--centered.u-fontWeight--900 C
    //- Will be knockouted out at night

    .section.section--crop
      .container#shadow
        .simpleTester.js-scaleText.is-editable.shadow.u-fontWeight--900.u-textTransform--uppercase(contenteditable spellcheck="false" bigIdeasText-maxfontsize="1000")
          span Moriston<br/>Moriston<br/>Moriston

    .section.knockout.knockout--blue
      .container
        div(contenteditable spellcheck="false").is-editable.simpleTester.u-fontWeight--300.js-scaleText
          span.u-fontWeight--300 Airplane travels
          span.u-fontWeight--400 ROLLFAST BICYCLE
          span.u-fontWeight--500 Scottish River Glens
          span.u-fontWeight--600 LOCAL LOCH
          span.u-fontWeight--700 Very good Jazz albums
          span.u-fontWeight--900 New York

    .section.section--crop
      .container#clock
        include _includes/clock


    //-
      .knockout.knockout--darkBlue#sugar
        .container#sugar
          include _includes/sugar

    .section.section--crop.knockout.knockout--purple
      .container#record
        include _includes/record

    .section.knockout.knockout--grayDark
      .container.container--breakout#language
        div(contenteditable spellcheck="false" bigIdeasText-maxfontsize="1000").simpleTester.js-scaleText
          h2 Moriston speaks your language
        div(contenteditable spellcheck="false" bigIdeasText-minfontsize="12").simpleTester.js-scaleText.u-columns
          p Abenaki, Afaan, Oromo, Afar, Afrikaans, Albanian, Alsatian, Amis, Anuta, Aragonese, Aranese, Aromanian, Arrernte, Arvanitic (Latin), Asturian, Atayal, Aymara, Azerbaijani, Bashkir (Latin), Basque, Belarusian (Latin), Bemba, Bikol, Bislama, Bosnian, Breton, Cape, Verdean, Creole, Catalan, Cebuano, Chamorro, Chavacano, Chichewa, Chickasaw, Cimbrian, Cofán, Cornish, Corsican, Creek, Crimean, Tatar (Latin), Croatian, Czech, Danish, Dawan, Delaware, Dholuo, Drehu, Dutch, English, Esperanto, Estonian, Faroese, Fijian, Filipino, Finnish, Folkspraak, French, Frisian, Friulian, Gagauz (Latin), Galician, Ganda, Genoese, German, Gikuyu, Gooniyandi, Greenlandic (Kalaallisut), Guadeloupean Creole, Gwich’in, Haitian Creole, Hän, Hawaiian, Hiligaynon, Hopi, Hotcąk (Latin), Hungarian, Icelandic, Ido, Igbo, Ilocano, Indonesian, Interglossa, Interlingua, Irish, Istro-Romanian, Italian, Jamaican, Javanese (Latin), Jèrriais, Kaingang, Kala Lagaw Ya, Kapampangan (Latin), Kaqchikel, Karakalpak (Latin), Karelian (Latin), Kashubian, Kikongo, Kinyarwanda, Kiribati, Kirundi, Klingon, Kurdish (Latin), Ladin, Latin, Latinosine Flexione, Latvian, Lithuanian, Lojban, Lombard, Low Saxon, Luxembourgish, Maasai, Makhuwa, Malay, Maltese, Manx, Māori, Marquesan, Megleno-Romanian, Meriam Mir, Mirandese, Mohawk, Moldovan, Montagnais, Montenegrin, Murrinh-Patha, Nagamese Creole, Nahuatl, Ndebele, Neapolitan, Ngiyambaa, Niuean, Noongar, Norwegian, Novial, Occidental, Occitan, Old Icelandic, Old Norse, Onĕipŏt, Oshiwambo, Ossetian (Latin), Palauan, Papiamento, Piedmontese, Polish, Portuguese, Potawatomi, Q’eqchi’, Quechua, Rarotongan, Romanian, Romansh, Rotokas, Sami (Inari Sami), Sami (Lule Sami), Sami (Northern Sami), Sami (Southern, Sami), Samoan, Sango, Saramaccan, Sardinian, Scottish, Gaelic, Serbian (Latin), Seri, Seychellois Creole, Shawnee, Shona, Sicilian, Silesian, Slovak, Slovenian, Slovio (Latin), Somali, Sorbian (Lower Sorbian), Sorbian (Upper Sorbian), Sotho (Northern), Sotho (Southern), Spanish, Sranan, Sundanese (Latin), Swahili, Swazi, Swedish, Tagalog, Tahitian, Tetum, Tok, Pisin, Tokelauan, Tongan, Tshiluba, Tsonga, Tswana, Tumbuka, Turkish, Turkmen (Latin), Tuvaluan, Tzotzil, Uzbek (Latin), Venetian, Vepsian, Volapük, Võro, Wallisian, Walloon, Waray-Waray, Warlpiri, Wayuu, Welsh, Wik-Mungkan, Wiradjuri, Wolof, Xavante, Xhosa, Yapese, Yindjibarndi, Zapotec, Zarma, Zazaki, Zulu, and Zuni.

    #story.section
      //- include _includes/story.md
      article.story
        header(contenteditable spellcheck="false").simpleTester.js-scaleText
          span.story-intro.u-fontWeight--400.bigIdeasText-exempt.u-fontFeatureSettings-lnum Fall 2015
          h1
            span.u-fontWeight--900.u-textTransform--uppercase Read<br/>Moriston
          //- span.story-intro.u-fontWeight--400.bigIdeasText-exempt.u-fontFeatureSettings-lnum Riley Cran<br/>

        != partial("_includes/story")
        hr
        footer.container
          .grid.grid--gutters
            .grid__cell
              img(src="/media/profile-riley.jpg")
              h2 Riley Cran<br/>
                a.u-fontWeight--400(href="http://twitter.com/rileycran") @rileycran
              p Riley Cran is a type designer and lettering artist based in the Pacific Northwest. He is the Operator and Co-Founder of <a href="http://losttype.com">The Lost Type Co-op</a>, a collaborative digital type foundry.
            .grid__cell
              img(src="/media/profile-glenn.jpg")
              h2 Glenn Morison Chronister
              p Moriston is dedicated to the memory of Glenn Morison Chronister.

    footer
      section.section.knockout.knockout--redDark
        .container
          != partial("_includes/newsletter")
          h2 Special thanks to…
          p My Friends and Family: My parents, Marg and Dave. My girlfriend Heather Neale, she’s got my back. And to Dan Gneiding, Danelle Cheney, Kenneth Ormandy, Cody Jones, Alanna Munro, Andrea Husky, and Rick Murphy, for patiently listening to me talk about this typeface for hours on end.

          p Those who provided feedback throughout the design process, I can’t thank you enough for your time and valuable insight: Ross Milne, Christian Schwartz, Shiva Nallaperumal, Berton Hasebe, Cyrus Highsmith, Erik Van Blokland, and Dave Foster.

          p For mastering: <span class="caps">PSY/OPS</span>, who always do excellent work.

          p Those who built the tools that make type design possible: Frederik Berlaen (Robofont), Tal Leming (Prepolator and Metrics Machine), Erik Van Blokland (Superpolator), the team behind Glyphs, and Nina Stoessinger (Word-O-Mat).

      section.section.section--short.knockout.knockout--redDarker
        .container
          | Site by <a href="http://kennethormandy.com">Kenneth Ormandy</a>.<br/>
          | Get more fonts by <a href="http://rileycran.com">Riley Cran</a> and friends from <a href="http://losttype.com">The Lost Type Co-op</a>.

    script(src="/js/vendor/big-ideas-text.js")
    //- script(src="https://rawgit.com/kennethormandy/big-ideas-text/master/dist/big-ideas-text.js")
    script(src="https://rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js")
    script(src="/js/index.js")
    script(src="https://rawgit.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js")
    script(src="https://rawgit.com/LeaVerou/conic-gradient/gh-pages/conic-gradient.js")
