doctype
html(lang="en-us")
  head
    title Morison
    link(href="/css/index.css" rel="stylesheet")
    link(href="#{ environment !== 'development' ? 'http://fonts.kennethormandy.com' : '' }/css/moriston.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    //- .grid.grid--intro
    //-   .grid__cell.square
    //-     .square__content.square__content--centered.u-fontWeight--700 M
    //-     .square__content.square__content--centered.u-fontWeight--300 o
    //- 
    //-   .grid__cell.square
    //-     .square__content.square__content--centered.u-fontWeight--400 R
    //-     .square__content.square__content--centered.u-fontWeight--700 i
    //- 
    //-   .grid__cell.square.overlay
    //-     .square__content.square__content--centered.u-fontWeight--900 S
    //-     .square__content.square__content--centered.u-fontWeight--900 t
    //- 
    //-   .grid__cell.square
    //-     .square__content.square__content--centered.u-fontWeight--400 o
    //-     .square__content.square__content--centered.u-fontWeight--400 N
    .story
      .container
        header.story-header
          span.story-intro.u-fontWeight--400 Introducing
          div(contenteditable spellcheck="false").simpleTester.js-scaleText
            h1.story-headline.u-fontWeight--900.u-textTransform--uppercase Moriston
          div(contenteditable spellcheck="false").simpleTester.js-scaleText.story-subtitle
            span.bigIdeasText-exempt.u-fontWeight--400 A sans-serif typeface with unusually high contrast—<span class="u-fontWeight--600">and enthusiasm!</span>
          span.story-intro.u-fontWeight--400 by Riley Cran

        p.story-lead Adding contrast to a conversation can make your voice stand out. Moriston is a sans-serif grotesque with unusually high contrast, and uncharacteristically high enthusiasm.
        
        p Available in 6 reliable weights and support for over 200 languages, and a variety of additional number styles, Moriston is a comprehensive type family designed by Riley Cran and available from your friends at the Lost Type Co-op.

        //- .story-alphabet
        //-   | abcdefghijklmnopqrstuvwxyz
        //-   | ABCDEFGHIJKLMNOPQRSTUVWXYZ
        //-   div And more…
        //- 
        a.button.button--large(href="http://losttype.com/font/?name=moriston") Buy it right now!

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 6
        .square__content.square__content--centered.u-fontWeight--700 7

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 @
        .square__content.square__content--centered.u-fontWeight--700 a

      .grid__cell.square.overlay
        .square__content.square__content--centered.u-fontWeight--900 5
        .square__content.square__content--centered.u-fontWeight--900 M

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 3
        .square__content.square__content--centered.u-fontWeight--400 S

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--600 2
        .square__content.square__content--centered.u-fontWeight--600 &

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--700 p
        .square__content.square__content--centered.u-fontWeight--700 2

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 2
        .square__content.square__content--centered.u-fontWeight--300 r

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--600 A
        .square__content.square__content--centered.u-fontWeight--600 a

    .grid
      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--400 v
        .square__content.square__content--centered.u-fontWeight--600 a

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--700 K
        .square__content.square__content--centered.u-fontWeight--700 L

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--300 n
        .square__content.square__content--centered.u-fontWeight--300 T

      .grid__cell.square
        .square__content.square__content--centered.u-fontWeight--900 %
        .square__content.square__content--centered.u-fontWeight--900 C
    //- Will be knockouted out at night

    .section
      .container#shadow
        .simpleTester.js-scaleText.is-editable.shadow.u-fontWeight--900.u-textTransform--uppercase(contenteditable spellcheck="false" bigIdeasText-maxfontsize="1000")
          span Moriston<br/>Moriston<br/>Moriston

    .knockout
      .container
        div(contenteditable spellcheck="false").simpleTester.u-fontWeight--300.js-scaleText
          span.u-fontWeight--300 Airplane travels
          span.u-fontWeight--400 ROLLFAST BICYCLE
          span.u-fontWeight--500 Scottish River Glens
          span.u-fontWeight--600 LOCAL LOCH
          span.u-fontWeight--700 Very good Jazz albums
          span.u-fontWeight--900 New York

    .section.section--crop
      .container#clock
        include _includes/clock


    //-
      .knockout.knockout--darkBlue#sugar
        .container#sugar
          include _includes/sugar


    
    .knockout.knockout--purple.knockout--crop
      .container#record
        include _includes/record

    #story.section
      //- include _includes/story.md
      article.story!= partial("_includes/story")
        footer.container
          img(src="http://placehold.it/800x600")
          h2 Riley Cran
          | Riley Cran is a type designer and lettering artist based in the Pacific Northwest. He is the Operator and Co-Founder of The Lost Type Co-op, a collaborative digital type foundry.

          img(src="http://placehold.it/800x600")
          h2 Glenn Moriston Chronister
          | Moriston is dedicated to the memory of Glenn Moriston Chronister.

    footer
      section.section.knockout.knockout--redDark
        .container
          != partial("_includes/newsletter")
          h2 Special thanks to…
          p My Friends and Family: My parents, Marg and Dave. My girlfriend Heather Neale, she’s got my back. And to Dan Gneiding, Danelle Cheney, Kenneth Ormandy, Cody Jones, Alanna Munro, Andrea Husky, and Rick Murphy, for patiently listening to me talk about this typeface for hours on end.

          p Those who built the tools that make type design possible: Frederik Berlaen (Robofont), Tal Leming (Prepolator and Metrics Machine), Erik Van Blokland (Superpolator), the team behind Glyphs, and Nina Stoessinger (Word-O-Mat).

          p Those who provided feedback throughout the design process, I can’t thank you enough for your time and valuable insight: Ross Milne, Christian Schwartz, Shiva Nallaperumal, Berton Hasebe, Cyrus Highsmith, Erik Van Blokland, and Dave Foster.

      section.section.knockout.knockout--redDarker
        .container
          | Site by <a href="http://kennethormandy.com">Kenneth Ormandy</a>.<br/>
          | Get more fonts by <a href="http://rileycran.com">Riley Cran</a> and friends from <a href="http://losttype.com">the Lost Type Co-op</a>.

    script(src="/js/vendor/big-ideas-text.js")      
    //- script(src="https://rawgit.com/kennethormandy/big-ideas-text/master/dist/big-ideas-text.js")
    //- script(src="https://rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js")
    script(src="/js/index.js")
    //- script(src="https://rawgit.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js")
    //- script(src="https://rawgit.com/LeaVerou/conic-gradient/gh-pages/conic-gradient.js")
