<form class="newsletter" action="//losttype.us2.list-manage.com/subscribe/post?u=03a53a0acb15f9425c135760f&amp;id=8e91cfe1e8" method="post" target="_blank" validate="">
  <label for="mce-EMAIL" class="is-hidden">Email Address</label>
  <input type="email" value="" placeholder="you@example.com" name="EMAIL" id="mce-EMAIL" required="required">
  <div>
    <input class="button button--large" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    <a class="button-secondary" href="https://twitter.com/losttypecoop">Or, follow @losttypecoop here</a>
  </div>
</form>
