a(href="http://losttype.com/font/?name=moriston").promo
  .grid.grid--collapse
    .grid__cell
      img(src="/media/moriston-riso-photo-1.jpg")
    .grid__cell.u-fontFeatureSettings-lnum
      p Pay-What-You-Want for a Personal Use License. Purchase a Commercial Use License for $75 and receive a kickass risograph print at no extra charge!
      .button Get Moriston
