!= partial('./record-filter.ejs')

.record
  .record-layout
    .simpleTester.js-scaleText(contenteditable spellcheck="false")
      span.u-fontWeight--900 Jazz
      span.u-fontWeight--900 Music
      span.bigIdeasText-exempt Lost Type Co-op
      span.bigIdeasText-exempt moriston.losttype.com
  .record-image
    #js-webcamCamera(style="width:640px; height:480px;")
    #js-webcamResult

button.button--large#js-webcamShutter Add your face
