!= partial('./record-filter.ejs')

.record-container#js-renderFrame
  .record
    .record-cover
      .record-image#js-webcamCamera
    .record-layout
      .simpleTester.js-scaleText(contenteditable spellcheck="false")
        span.u-fontWeight--900 Jazz
        span.u-fontWeight--900 Music
      .simpleTester.js-scaleText(contenteditable spellcheck="false")
        span.bigIdeasText-exempt Lost Type Co-op Records
      span.record-watermark moriston.losttype.com

#js-renderResult


#js-takeButtonsPre
  button.button.button--large#js-webcamShutter Add your face
  button.button-secondary#js-webcamRetake.is-hidden Take another
