aside.section-caption
  <strong>Make a hit with Moriston.</strong> Take a selfie for your own album cover, inspired by mid-century use of grotesques on jazz records from the 60s and 70s.

.record-section
  .record-container#js-renderFrame
    .record.record--1
      .record-cover
        .record-image#js-webcamCamera
      .record-layout
        .simpleTester.js-scaleText.u-textTransform--uppercase(contenteditable spellcheck="false")
          span.u-fontWeight--900 Moriston
          span.u-fontWeight--900 Typeface
          span.u-fontWeight--400 Smaller text that goes here to describe various things
        span.record-watermark moriston.losttype.com
    .record-vinyl
      //- Make this text the same as what they typed in the cover?
      .record-label
        .js-scaleText
          span.u-fontWeight--300.u-textTransform--uppercase Moriston
          span.u-fontWeight--900 Moriston
          span.u-fontWeight--300.u-textTransform--uppercase Moriston
          span.u-fontWeight--900 Moriston
          span.u-fontWeight--300.u-textTransform--uppercase Moriston
          span.u-fontWeight--900 Moriston
        
.record-shelf.box
  .box-top
  .box-front

#js-takeButtonsPre
  button.button.button--large#js-webcamShutter Add your face
  button.button-secondary#js-webcamRetake.is-hidden Take another

#js-renderResult
