.box-container
  .box.sugar
    .box-side.box-front
      span.sugar-weight.bigIdeasText-exempt <span class="caps">1</span> <abbr class="caps">LB.</abbr> Net
      span.sugar-mark.bigIdeasText-exempt Manitoba
      .sugar-front.simpleTester.simpleTester--scale.js-scaleText(contenteditable spellcheck="false")
        span.u-fontWeight--900 Icing
        span.u-fontWeight--300 Sugar
    .box-side.box-back K
    .box-side.box-top Riley Cran
    .box-side.box-bottom Site by Kenneth Ormandy
    .box-side.box-left
      div Ingredients
      div DELICIOUS
      div but also
      div bad for you
    .box-side.box-right side
