.box-container
  .box.sugar
    .box-side.box-front
      span.sugar-weight.bigIdeasText-exempt 1 <abbr class="caps">LB.</abbr> Net
      span.sugar-mark.bigIdeasText-exempt Manitoba
      .simpleTester.js-scaleText(contenteditable spellcheck="false")
        span.sugar-name.u-fontWeight--900 ICING
        span.sugar-name.u-fontWeight--900 SUGAR
    .box-side.box-back K
    .box-side.box-top Riley Cran
    .box-side.box-bottom Site by Kenneth Ormandy
    .box-side.box-left
      div Ingredients
      div DELICIOUS
      div but also
      div bad for you
    .box-side.box-right side
