.record {
  display: flex;
  flex: 1;
  background: lighten($black, 10%);
  overflow: hidden;
  height: 640px;
  width: 640px;
  line-height: 1;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 2em;
}

.record-image {
  min-width: 100%;
  left: -75%;
  position: relative;
  canvas {
    filter: saturate(100%) #{ "grayscale(50%)" } hue-rotate(205deg);
    background: $blue;
  }
}

.record-preview {
  z-index: 2;
  position: relative;
  display: block;
}

.record-layout {
  padding: 1em;
  width: 50%;
  float: left;
  display: block;
  position: relative;
  z-index: 1;
  background-color: rgba($purple, 0.75);
  // filter: blur(10px);
  span {
    line-height: 1;
  }
  .bigIdeasText-exempt {
    line-height: $base-line-height;
  }
}
