.simpleTester {
  // padding: 2em 0;

  // line-height: 1.5;
  // padding: 0 3em;
  border-bottom: 1px solid;
  margin-bottom: 1em;
  @media (min-width: 30em) {
    margin-left: -5%;
    margin-right: -5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  @media (min-width: 80em) {
    margin-left: -25%;
    margin-right: -25%;
    padding-left: 25%;
    padding-right: 25%;
  }

}
