// Simple Type Tester
//
// No styleguide reference.
.simpleTester {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // iOS
  -webkit-tap-highloght-color: transparent;      // Android

  // Bram Stein ☞ http://blog.typekit.com/2014/02/05/kerning-on-the-web/
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  padding: 0.5em;
  text-align: left;
  margin-bottom: 1em;
  overflow: visible;

  transition: opacity 0.1s ease-in;
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
  &:focus,
  &:active {
    opacity: 1;
  }
  @extend .simpleTester--scale;
}

// This is important, this is what makes it possible for
// editable areas to scale, or work more like woodtype
// posters, or the original untitled Implicate site
// Should probably be a utility and/or js class instead
// that I add or remove based on if we want inline or
// woodtype poster specimens

.simpleTester--scale {
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write-plaintext-only;
  -ms-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only;
}

// Artifically increases the bounding box
// There are better ways I could do this
// Percentages are also really tied to how
// much room I actually have to work with right now
.simpleTester--target {
  @media (min-width: $media-mid) {
    margin-left: -2.5%;
    margin-right: -2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  @media (min-width: $media-wide) {
    margin-left: -20%;
    margin-right: -20%;
    padding-left: 20%;
    padding-right: 20%;
  }
  @media (min-width: $media-huge) {
    margin-left: -40%;
    margin-right: -40%;
    padding-left: 40%;
    padding-right: 40%;
  }
}
