// Font Weight helpers
//
// Styleguide: module.utility.font-weight
.u-fontWeight--300 {
  font-weight: 300;
}

.u-fontWeight--400 {
  font-weight: 400;
}

.u-fontWeight--500 {
  font-weight: 500;
}

.u-fontWeight--600 {
  font-weight: 600;
}

.u-fontWeight--700 {
  font-weight: 700;
}

.u-fontWeight--900 {
  font-weight: 900;
}

.u-textTransform--uppercase {
  text-transform: uppercase;
}

.u-textTransform--lowercase {
  text-transform: lowercase;
}

@media (min-width: $media-mid) {
  .u-columns {
    columns: 2 ($max-width / 3);
    column-gap: $gutter / 2;
    column-fill: balance;
    @media (min-width: $media-wide) {
      columns: 3 ($max-width / 4);
      column-gap: $gutter;
    }
  }
}

.u-textAlign-justify {
  text-align: justify;
  hyphens: auto;
  // Add hyphenation stuff
}
