// Font Weight helpers
//
// Styleguide: module.utility.font-weight
.u-fontWeight--300 {
  font-weight: 300;
}

.u-fontWeight--400 {
  font-weight: 400;
}

.u-fontWeight--600 {
  font-weight: 600;
}

.u-fontWeight--700 {
  font-weight: 700;
}

.u-fontWeight--900 {
  font-weight: 900;
}

.u-textTransform--uppercase {
  text-transform: uppercase;
}

.u-textTransform--lowercase {
  text-transform: lowercase;
}
